<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/shop-admin-v4/src/main/java/com/fh/shop/backend/controller/product/ProductController.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.fh.shop.backend.controller.product.ProductController"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="shop-admin-v4"/>
</launchConfiguration>
