<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.shop.backend.brand.mapper.IBrandMapper">

<!--获取品牌信息  -->
	<select id="findBrandList" resultType="com.fh.shop.backend.brand.po.Brand">
		select id,brandName from t_brand
	</select>
</mapper>
